body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color:    #eca1a6;
        margin: 0;
    }
    
    .quiz-container {
        background:   #e3eaa7;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 300px;
    }
    
    .timer {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    #answers button {
        display: block;
        width: 100%;
        margin: 5px 0;
        padding: 10px;
        border: none;
        cursor: pointer;
        background: #007bff;
        color: white;
        border-radius: 5px;
    }
    
    #answers button:hover {
        background: #0056b3;
    }
    
    #next-btn {
        display: none;
        margin-top: 10px;
        padding: 10px;
        border: none;
        cursor: pointer;
        background: green;
        color: white;
        border-radius: 5px;
    }
    
    .correct {
        background: green !important;
    }
    
    .wrong {
        background: red !important;
    }